[submodule "manual_search"]
	path = .vim/bundle/manual_search.vim
	url = https://github.com/wusuopu/manual_search.vim.git
[submodule ".vim/bundle/investigate.vim"]
	path = .vim/bundle/investigate.vim
	url = https://github.com/Keithbsmiley/investigate.vim
[submodule ".vim/bundle/slimv"]
	path = .vim/bundle/slimv
	url = https://github.com/kovisoft/slimv
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
