snippet "requ" "require module" r
var ${1:name} = require('${2:module}');$0
endsnippet

snippet "imp" "import module" r
import ${1:name} from '${2:module}';$0
endsnippet

snippet "imp{" "import module" r
import ${1:name}, { ${2} } from '${3:module}';$0
endsnippet
