snippet "^#!" "#!/usr/bin/env ruby" r
#!/usr/bin/env ruby
#-*- coding:utf-8 -*-
$0
endsnippet

snippet "deff" "def <name>" r
def ${1:function_name}
	$0
end
endsnippet

snippet "classs" "class <class_name>" r
class ${1:class_name}
	$0
end
endsnippet
